:root {
  --bg-color: #efefef;
  --fg-color: #444;
  --primary-color: hsl(172, 84%, 37%);
  --secondary-color: hsl(172, 84%, 35%);
  --input-color: hsl(0, 0%, 84%);
  --input-border-color: hsl(0, 0%, 50%);
  --btn-box-shadow: rgba(0, 0, 0, 0.5);
  --btn-box-shadow-hover: rgba(0, 0, 0, 0.25);
}

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color);
  color: #eee;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  min-width: 382px;
}

input,
button,
#password-output {
  padding: 20px;
}

.password-text {
  background-color: var(--input-color);
  color: var(--fg-color);
  border: 1px solid var(--input-border-color);
  border-radius: 5px;
  font-size: 2em;
  max-height: 80px;
}

#password-input {
  animation: shake .2s;
  margin-bottom: 10px;
}

.password-output-container {
  position: relative;
  overflow: hidden;
  height: 0;
  transition: height .3s ease;
}

#password-output {
  user-select: none;
  margin-bottom: 10px;
}

#password-output span {
  transition: opacity .45s linear;
}

.password-text::placeholder {
  color: var(--fg-color);
}

.password-text:focus {
  border-color: var(--primary-color);
}

.generate-btn, #password-output {
  cursor: pointer;
}

.generate-btn {
  width: 100%;
  background-color: var(--primary-color);
  color: var(--fg);
  border: 1px solid var(--primary-color);
  border-radius: 5px;
  font-size: 2em;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 7px 5px -5px var(--btn-box-shadow);
  z-index: 2;
  transition:
    background-color .1s linear,
    transform .1s linear,
    box-shadow .1s linear;
}

.generate-btn:hover,
.generate-btn:focus {
  box-shadow: 0px 14px 10px -7px var(--btn-box-shadow-hover);
  transform: translateY(-2px);
  background-color: var(--secondary-color);
}

::-moz-focus-inner {
  border: none;
}

.generate-btn:active {
  box-shadow: 0 0 0 -20px var(--btn-box-shadow);
  transform: translateY(0);
}

.label {
  overflow: hidden;
  display: inline-block;
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
  width: 2em;
  color: var(--fg-color);
  cursor: pointer;
  transform: translateY(50%)  translateX(100%);
  transition:
    opacity .3s linear,
    transform .3s ease-out;
}

.password-output-container:hover .label {
  opacity: 1;
  transform: translateY(50%) translateX(-20px);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #111;
    --fg-color: #eee;
    --input-color: hsl(0, 0%, 14%);
    --input-border-color: hsl(0, 0%, 18%);
    --btn-box-shadow: hsla(172, 84%, 37%, 0.205);
  }
}